body.light {
    --text-color : black;
    --background-msg3 : rgb(248,248,249);
}

body.dark {
    --text-color : rgb(109,106,123);
    --background-msg3: rgb(25,24,42);
}
.user4-hold {
    width: 40px;
}

.user4 {
    color: var(--text-color);
    font-size: 1.5rem;
    transform: translateY(-5px);
}

#msg4 {
    color: var(--text-color);
    padding-top: 25px;
}

.msg4-text {
    display: flex;
    justify-content: left;

    p {
        letter-spacing: 1px;
        border-radius: 20px;
        background-color: var(--background-msg1);

    }
}
