body.light {
    --text-color : black;
    --background-msg2 : rgba(103,73,220);
}

body.dark {
    --text-color : white;
    --background-msg2: rgb(77,56,152);
}

.msg2-text {
    display: flex;
    justify-content: right;
    p {
        color: white;
        background-color: var(--background-msg2);
        width: 320px;
        border-radius: 15px;
        letter-spacing: 1px;
    }
}


.user2-hold {
    width: 40px;
}

.user2 {
    color: var(--text-color);
    font-size: 1.5rem;
    transform: translateY(-5px);
}