body.dark {
    --background-color-welcome : none;
}

body.light {
    --background-color-welcome: rgba(249, 252, 254,);;
}

.welcome-text {
    background-color: var(--background-color-welcome);
    //height: 150px;
}

#main-text {
    font-weight: bold;
    color: rgb(133,192,245);
    font-size: 1.1rem;
}

#sub-text {
    color: rgba(172,196,218);
    width: 70%;
}